@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* Navbar Styles */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid slategrey;
}

.navbar h1 {
  color: #3548f1;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f13535;
}

/* Login Form Styles */

.loginDiv {
    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    height: 300px;
}

input {
    width: 200px;
    margin: .3em;
    display: block;
}

/* Form Validation */

input.incorrect {
  border: 1px solid red;
}

.wrong {
  color: red;
  font-size: 20px;
}